<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Title</th>
      <th>Description</th>
      <th>Position</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= List.find(card.list_id).name %></td>
        <td><%= List.cards.name %></td>
        <td><%= card.title %></td>
        <td><%= card.content %></td>
        <td><%= card.position %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
