<p>
  <strong>List:</strong>
  <%= list_card(@card) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Position:</strong>
  <%= @card.position %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
